@page
@{
    ViewData["Title"] = "Caso Grudiva";
}
<div class="px-4 py-5 mt-5 text-center">

    <div class="col-lg-6 mx-auto">
        <h1 class="display-5 fw-bold">
            @ViewData["Title"]
        </h1>
        <p class="fs-5 mb-4">
            Grudiva es una empresa que se dedica a la fabricación de ejes, engranajes y cajas de cambio.
        </p>
        <p class="fs-5 mb-4">
            En 2015 su departamento de calidad nos pidió ayuda con la elaboración de cuatro informes. 
            Los informes en concreto representaban fases de la fabricación de un mismo producto.
        </p>
        
        <p class="fs-5 mb-4">
            Ellos estaban generando estos cuatro informes de manera manual con tres documentos Excel's y un Word.
        </p>
        <p class="fs-5 mb-4">
            Cualquier cambio en el proceso de fabricación del producto implicaba tener que ir a modificar los informes manualmente. 
            Pero no era un cambio rápido de entrar modificar una línea y ya está. Había que buscar línea por línea y modificar múltiples veces.
            
        </p>
        <p class="fs-3 mb-4 mt-2">
            Nos hicieron la siguiente petición:
        </p>
        <p class="fs-3 mb-5">
            Nos gustaría introducir los datos una sola vez y que los informes se generen automáticamente a partir de los datos introducidos.
            Si hay algún cambio, queremos modificar los datos una sola vez y que los informes queden modificados automáticamente.
        </p>
        
        <p class="fs-5 mb-4">Así empezamos nuestra andadura en Grudiva, con una simple aplicación que generaba cuatro informes.
            @(DateTime.Today.Year-2015) años después hemos mejorado los procesos internos de casi todos los departamentos (Calidad, Taller, Oficina técnica, Costes, Producción y RRHH) de la empresa aplicando la misma fórmula.
            
        </p>
      
    </div>
</div>
<div class="container px-4 mb-5">
    
    <div class="alert alert-primary" role="alert">
        
        <h4 class="alert-heading">Carles Lopez - Quality Management Dpt.</h4>
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
            </svg>
            Quiero destacar mi experiencia con Bahía Code, quienes nos ayudaron a desarrollar un sistema integral 
            de documentación en nuestra empresa. Antes de trabajar con ellos, estábamos realizando tareas por duplicado o triplicado, 
            conf diferentes formatos a trabajar (PDF, word, excel,..)
        </p>
        <p>
            Iniciamos el proyecto desde el departamento de calidad, pero posteriormente ha ido abarcando a otras areas de la empresa y también 
            a otras plantas de fabricación. Esto nos ha permitido automatizar y monitorizar 
            bastantes aspectos de gestión productiva, eliminando errores de actualización documental en un 90%.
        </p>
        <p>
            Continuamos trabajando y colaborando con Bahia Code para mejorar el actual software de gestión 
            y ampliarlo a todos aquellos aspectos que significan una tarea repetitiva y manual.
        </p>
        <p>
            Estamos muy agradecidos por el excelente trabajo que realizan y no dudaríamos en recomendar sus servicios 
            a cualquier empresa que busque mejorar sus operaciones.
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
            </svg>
        </p>
        
    </div>
  
</div>


<div class="b-example-divider"></div>
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Otros casos</h2>
    <partial name="_Casos"/>
</div>
<div class="b-example-divider"></div>
<partial name="Shared/_BloquePeroHayMuchoMas" />