@page
@{
    ViewData["Title"] = "Caso Hopifer";
}
<div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">
        <h1 class="display-5 fw-bold">
            @ViewData["Title"]
        </h1>
        <p class="fs-5 mb-4">
            Hospifer es una empresa que se dedica a la distribución de productos hospitalarios.
        </p>
        <p class="fs-5 mb-4">
            Tienen dos comerciales y un director comercial externo que les ayuda con el seguimiento y las buenas prácticas.
        </p>

        <p class="fs-5 mb-4">
            El director comercial, después de muchos años de experiencia no había encontrado todavía un CRM de venta repetitiva que se adaptara a sus necesidades.
        </p>
        <p class="fs-5 mb-4">
            Por ese decidió crear un documento Excel donde los comerciales podían anotar sus acciones y que él pudiera llevar un seguimiento.
        </p>
        <p class="fs-5 mb-4">
            Con el paso de los años los documentos Excel se empezaron a acumular y no era fácil consultar meses pasados.

        </p>
        <p class="fs-3 mb-4 mt-2">
            Nos hicieron la siguiente petición:
        </p>
        <p class="fs-3 mb-5">
            El documento Excel está muy bien, pero sólo tenemos la visión mensual de lo que está sucediendo. Perdemos el histórico y nos genera bastante trabajo 
            regenerar cada mes el mismo documento.
            ¿Podemos crear una aplicación tipo CRM pero simple y que represente las misma funcionalidades el nuestro Excel?
        </p>

        <p class="fs-5 mb-4">
            Cuando empezamos a desarrollar el CRM de venta repetitiva personalizado el director comercial era escéptico. Y no sin razón, había probado muchos CRM's
            y ninguno era de su agrado.
        </p>

        <p class="fs-5 mb-4">
            Cuando pusimos en marcha el CRM, el director comercial cambió radicalmente de opinión y empezó a ver la aplicación como una evolución de su Excel evolucionada. 
            Con las mismas funcionalidades y además con mejoras de comodidad, consulta y eliminación de errores.
        </p>
        <p class="fs-5 mb-4">
            Actualmente considera el CRM personalizado como el mejor CRM de venta repetitiva del mercado. Y probablemente tenga razón si le añadimos la coletilla "para Hospifer".
        </p>
        <p class="fs-5 mb-4">
            A simple vista parece un CRM estándar, pero en realidad es difícilmente escalable a otras empresas puesto que es único y adaptado a Hospifer.
        </p>


    </div>
</div>
<div class="b-example-divider"></div>
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Otros casos</h2>
    <partial name="_Casos" />
</div>