@page
@{
    ViewData["Title"] = "Caso de By Laura Garcia";
}

<div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">
        <h1 class="display-5 fw-bold">
            @ViewData["Title"]
        </h1>
        <p class="fs-5 mb-4">
            Laura García es una experta en alimentación y salud. En 2016 empezó a publicar sus primeras recetas a 
            través de Instagram  <a href="https://www.instagram.com/bylauragarcia/" target="_blank">bylauragarcia.com</a>.
            <br/>
            Hoy en días es una reconocida influencer co-fundadora  de <a href="https://comocomofoods.com/" target="_blank">COMO COMO FOODS</a>, 
            autora del blog <a href="https://bylauragarcia.com/" target="_blank">By Laura Garcia</a> 
            y del libro “Cocina con olla multifución”.
        </p>
        <p class="fs-5 mb-4">
            Cuando su cuenta de Instagram empezó a ganar seguidores nos pidió que le creáramos un blog donde ella pudiera 
            escribir contenido que fuera fácilmente accesible des de cualquier navegador.
        </p>

        <p class="fs-5 mb-4">
            Ella había trabajado varios años como maquetadora web con lo que nos facilitó el diseño inicial. 
            Un blog es algo muy personal. Existen multitud de servicios en la nube que facilitan la creación de blogs,
            te ofrecen plantillas y funcionalidad estándar. Pero como te desvíes ni que sea un poco de los estándares 
            puedes acumular mucha frustración.
        </p>
        <p class="fs-5 mb-4">
            Confió en nosotros y creamos una aplicación tipo blog basada en su diseño.
        </p>
        <p class="fs-5 mb-4">
            Los primeros retos tecnológicos fueron:
        </p>
        <p class="fs-5 mb-4 mt-4">
            <div class="row justify-content-md-center">
                <div class="col-lg-offset-2 col-lg-8">
                    <ul class="text-start">
                        <li>
                            Tener un back-office donde poder crear borradores de su contenido, y poder publicarlos cuando quisiera.
                        </li>
                        <li class="mt-2">
                            Poder clasificar el contenido en tags y categorías.
                        </li>
                        <li class="mt-2">
                            Gestionar las imágenes que se suben al blog y poder añadirlas al texto HTML de manera asíncrona.
                        </li>
                    </ul>
                </div>
            </div>
        </p>
        <p class="fs-3 mb-5">
            Pero el reto más importante de todos era que tuviese un buen SEO.
        </p>

        <p class="fs-5 mb-4">
            Busca “caldo de huesos” en Google y verás que la primera entrada que no es un anuncio es el post del blog de Laura.
        </p>

        <p class="fs-5 mb-4">
            El mérito real del SEO no es de la web, es del autor del contenido, sin embargo, la web debe generar los elementos 
            necesarios para que Google indexe correctamente su contenido. 
            Y si no los programas correctamente Google no sabrá que existes.
        </p>
        <p class="fs-5 mb-4">
            A partir de la primera versión del Blog y su publicación la cosa fue creciendo año tras año.      
        </p>
        <p class="fs-5 mb-4">
            Generamos una base de datos interna de recetas con las que ella podía vincularlas a contenido o etiquetarlas para sus libros.
        </p>

        <p class="fs-5 mb-4">
            Generamos un gestor de afiliaciones clasificado por categorías. De este modo una sola afiliación podía
            estar vinculada a múltiples post y desde un solo lugar se puede gestionar cualquier cambio sin necesidad 
            de actualizar cada uno de los artículos del blog.
        </p>

        <p class="fs-5 mb-4">
            Otro punto que nos pidió es crear un sistema de Newsletter. Actualmente tiene unos 8.000 subscriptores. 
            Contratar cualquier servicio de Newsletter con esa cantidad de subscriptores supone un coste mensual de 
            entre 30€/mes y 60€/mes. Con el desarrollo de la newsletter en el blog e integrado 
            a Simple Email Service de Amazon el coste no supera 1€/mes.
        </p>
        
        <p class="fs-5 mb-4">
            Pero la cosa no quedó ahí. Quería vender cursos online y para ello generamos un e-learning interno super 
            básico donde ella podía generar el curso.
        </p>

        <p class="fs-5 mb-4">
            Una vez realizados los cursos había que venderlos :). Creamos un e-commerce sencillo, con clientes, pedidos, 
            facturas y pago integrado en la web.
        </p>
        <p class="fs-5 mb-4">
            Como ves, todo empezó con un simple blog, pero con el tiempo creció y se convirtió en la principal herramienta de comunicación de Laura.
            Esta es la filosofía que seguimos en todos nuestros proyectos. Empezar con poco y crecer hasta donde nos pidan.
        </p>
        <div class="alert alert-primary" role="alert">

            <h4 class="alert-heading">Laura García</h4>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z" />
                </svg>
                En Bahía Code son capaces de entender las necesidades cambiantes de mi web y plasmarlas en nuevas funcionalidades a medida que facilitan enormemente mi trabajo diario.
            </p>
            <p>
                Y todo esto sin que la web deje de funcionar ni un solo minuto, algo fundamental teniendo en cuenta que recibo visitas a todas horas desde distintas partes del mundo.
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z" />
                </svg>
            </p>

        </div>

    </div>
</div>
<div class="b-example-divider"></div>
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Otros casos</h2>
    <partial name="_Casos" />
</div>
<div class="b-example-divider"></div>
<partial name="Shared/_BloquePeroHayMuchoMas"/>