@*<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bahía Code</title>
   
</head>
<body>*@
   

    <!-- Page Content -->
    <a name="desarrolloweb"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Desarrollo web</h2>
                    <p class="lead">Webs de contenido actualizable, con un diseño claro y funcional, 100% compatibles en todos los exploradores. Multidioma, gestionables y seguras.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/img/laptop.png" alt="Bahía Code">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
<a name="tecnologia"></a>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Tecnología</h2>
                    <p class="lead">Desarrollamos nuestros proyectos en tecnología .NET de Microsoft. Esto te garantiza seguridad, estabilidad, consistencia y libertad.<br />
HTML5, CSS3, Jquery, Jquery UI i Ajax, MVC, ELMAH, Nlog, Ninject...</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/img/net.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
<a name="bi"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Business Intelligence</h2>
                    <p class="lead">Transforma tus datos en conocimiento. Reporting Services, Analisys Services (Cubos OLAP), Controls DevExpress, Microsoft SharePoint, Microsoft Excel, MicroStrategy, ClickView...</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/img/code.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <a name="contacto"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/img/logo.png" alt="Bahía Code" />
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="http://albertcapdevila.net" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-book fa-fw"></i> <span class="network-name">Blog</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/acapdevila/Blog-MVC5" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/programadorwebalbertcapdevila/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/programadorwebalbertcapdevila/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">e-mail</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
    <!-- Footer -->

    @*<!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>*@
@*</body>
</html>*@




@*<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Portfolio
            <small>Estos son algunos de los proyectos que hemos desarrollado</small>
        </h1>
    </div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">

        <a href="http://www.quedat.cat" target="_blank">
            <img class="img-responsive" src="/Images/quedat.jpg" alt="Queda't al Maresme" />
         </a>
        <h3>
            <a href="http://www.quedat.cat" target="_blank">Quedat.cat - Queda't al Maresme</a>
        </h3>
        <p>
            Web de compra colectiva enfocada a la comarca del Maresme.
            <a href="#dialogQuedat" onclick="OpenDialog(event,'#dialogQuedat')">Detalles técnicos</a>
        </p>


        <div id="dialogQuedat" style="max-width: 600px" title="www.quedat.cat" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-1">Módulos</a></li>
                    <li><a href="#tabs-2">Tecnologia</a></li>
                    <li><a href="#tabs-3">Infraestructura</a></li>
                </ul>
                <div id="tabs-1">
                    <ul>
                        <li>
                            <strong>Contenidos dinámicos:</strong> Ofertas, Vales, Categorias, Sidebars, Imágenes, Poblaciones, Multi-precio y SEO
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>
                        <li>
                            <strong>Negocios:</strong> Gestión de negocios, back-office negocios, control de vales, impressión de informes
                        </li>
                        <li>
                            <strong>Ventas:</strong> Control integrado de las ventas, pasarela bancaria
                        </li>
                        <li>
                            <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter
                        </li>
                        <li>
                            <strong>Fidelidad:</strong> Sistema de puntos y sistema de descuentos promocionales
                        </li>
                        <li>
                            <strong>Administración:</strong> Sistema de facturación integrado, sistema de liquidaciones y gestión de comerciales
                        </li>
                    </ul>

                </div>
                <div id="tabs-2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 2.0, 3.5 y 4.5, MVC2, MVC3 y MVC4
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Windows Server 2012, IIS 8
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2010 y 2012
                        </li>
                    </ul>


                </div>
                <div id="tabs-3">
                    <ul>
                        <li>
                            <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Servicios), Cliente (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                        <li>
                            <strong>Log de errores:</strong> ELMAH
                        </li>
                        <li>
                            <strong>Log de eventos:</strong> NLog
                        </li>
                        <li>
                            <strong>Informes:</strong> Reporting Services
                        </li>
                        <li>
                            <strong>IoC:</strong> Ninject
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-4 portfolio-item">
        
        <a href="http://hb2013frontend.buclenet.com" target="_blank">
            <img class="img-responsive" src="/Images/hb2013.jpg" alt="Handball Spain 2013">
        </a>
        <h3>
            <a href="http://hb2013frontend.buclenet.com" target="_blank">Balonmano 2013</a>
        </h3>
        <p>
            Web del Mundial de Balonmano celebrado en España durante enero de 2013.
            <a href="#dialogHandball2013" onclick="OpenDialog(event,'#dialogHandball2013')">Detalles técnicos</a>
        </p>

        <div id="dialogHandball2013" style="max-width: 600px" title="www.handballspain2013.com" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-B1">Módulos</a></li>
                    <li><a href="#tabs-B2">Tecnologia</a></li>
                    <li><a href="#tabs-B3">Infraestructura</a></li>
                </ul>
                <div id="tabs-B1">
                    <ul>

                        <li>
                            <strong>Contenidos dinámicos:</strong> Noticias, Notas de prensa, Equipos y Jugadores, Fotogalería, Slides frontales, Sidebars y SEO
                        </li>
                        <li>
                            <strong>Competición:</strong> Resultados en directo, Calendario, Clasificaciones, Fase final, Estadísticas y Ficha del partido
                        </li>
                        <li><strong>Idiomas:</strong> Catalán, Castellano y Inglés</li>
                        <li>
                            <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter y de las notas de prensa
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>
                        <li><strong>Otros:</strong> Sedes, Voluntarios, Hoteles, Paquetes de viajes</li>

                    </ul>

                </div>
                <div id="tabs-B2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 4.0, MVC3
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, Javascript (Knockout - para resultados en directo -, jQuery, jQuery UI, AJAX), C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Windows Server 2008 R2, IIS 7.5
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2010
                        </li>
                    </ul>


                </div>
                <div id="tabs-B3">
                    <ul>
                        <li>
                            <strong>5 Servidores:</strong> 1 Back-end (Base datos, imágenes y scripts) y 4 Front-end (con balanceo de carga)
                        </li>
                        <li>
                            <strong>Arquitectura de capas:</strong>Base datos (Database project), Datos (EF), Lógica de negocio (Servicios), ViewModels (DTO's), Cliente (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                        <li>
                            <strong>Log de errores:</strong> ELMAH
                        </li>
                        <li>
                            <strong>Log de eventos:</strong> NLog
                        </li>
                        <li>
                            <strong>Informes:</strong> Reporting Services
                        </li>
                        <li>
                            <strong>IoC:</strong> Ninject
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://www.nedaelmon.com" target="_blank">
            <img class="img-responsive" src="/Images/nedaelmon.jpg" alt="Neda el Món">
        </a>
        <h3>
            <a href="http://www.nedaelmon.com" target="_blank">Nedaelmon.com</a>
        </h3>
        <p>
            Eventos no competitivos de natación en aguas abiertas.
            <a href="#dialogNeM" onclick="OpenDialog(event,'#dialogNeM')">Detalles técnicos</a>
        </p>
        <div id="dialogNeM" style="max-width: 600px" title="www.nedaelmon.com" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-nem1">Módulos</a></li>
                    <li><a href="#tabs-nem2">Tecnologia</a></li>
                    <li><a href="#tabs-nem3">Infraestructura</a></li>
                </ul>
                <div id="tabs-nem1">
                    <ul>
                        <li>
                            <strong>Contenidos dinámicos:</strong> Eventos, Calendario, Productos, Noticias, Colaboradores, Sponsors, Slides frontales, Sidebars y SEO
                        </li>
                        <li>
                            <strong>Inscripciones:</strong> Recorridos, Datos personales, Alquiler chip, Seguro, Juniors, Inscripciones manuales, Back-office inscripciones, Informes Excel
                        </li>
                        <li>
                            <strong>E-comerce tienda:</strong> Tallas, Colores, Formas de pago, Stocks, Multi-precios, Categorias, Carrito de la compra, Notificaciones, Mis compras
                        </li>
                        <li>
                            <strong>Promociones:</strong> Sistema de códigos promocionales para cualquier artículo o evento
                        </li>
                        <li><strong>Idiomas:</strong> Catalán, Castellano y Inglés</li>
                        <li>
                            <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter (en tres idiomas)
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>
                        <li><strong>Otros:</strong> Servicios, Entrenamientos, Club NeM</li>

                    </ul>

                </div>
                <div id="tabs-nem2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 4.5.1, MVC2, MVC4
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Windows Server 2012, IIS 8
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2010 y Visual Studio 2012
                        </li>
                    </ul>


                </div>
                <div id="tabs-nem3">
                    <ul>
                        <li>
                            <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Servicios), ViewModels (DTO's), Cliente (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                        <li>
                            <strong>Log de errores:</strong> ELMAH
                        </li>
                        <li>
                            <strong>Log de eventos:</strong> NLog
                        </li>
                        <li>
                            <strong>Informes:</strong> Reporting Services, Excel
                        </li>
                    </ul>
                </div>
            </div>
        </div>
     </div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="http://www.a2disseny.com" target="_blank">
            <img class="img-responsive" src="/Images/a2disseny.jpg" alt="A2 Disseny" />
        </a>
        <h3>
            <a href="http://www.a2disseny.com" target="_blank">A2disseny.com</a>
        </h3>
        <p>
            Web portfolio de la empresa de diseño gráfico A2 Disseny.
            <a href="#dialogA2" onclick="OpenDialog(event,'#dialogA2')">Detalles técnicos</a>
        </p>
        <div id="dialogA2" style="max-width: 600px" title="www.a2disseny.com" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-A21">Módulos</a></li>
                    <li><a href="#tabs-A22">Tecnologia</a></li>
                    <li><a href="#tabs-A23">Infraestructura</a></li>
                </ul>
                <div id="tabs-A21">
                    <ul>
                        <li>
                            <strong>Contenidos dinámicos:</strong> Portfolio
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>
                        <li><strong>Otros:</strong> Contacto</li>

                    </ul>

                </div>
                <div id="tabs-A22">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 2.0, MVC
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Windows Server (Compartido)
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2010
                        </li>
                    </ul>


                </div>
                <div id="tabs-A23">
                    <ul>
                        <li>
                            <strong>Arquitectura:</strong> MVC
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://www.sportsmol.net" target="_blank">
            <img class="img-responsive" src="/Images/sportsmol.jpg" alt="Sports Mol Consultoría Deportiva">
        </a>
        <h3>
            <a href="http://www.sportsmol.net" target="_blank">Sportsmol.net</a>
        </h3>
        <p>
            Web de la consultoría deportiva Sports Mol.
            <a href="#dialogMol" onclick="OpenDialog(event,'#dialogMol')">Detalles técnicos</a>
        </p>

        <div id="dialogMol" style="max-width: 600px" title="www.sportsmol.com" class="dialog-bn">
            <div>

                <ul>
                    <li>
                        <strong>Web corporativa:</strong> HTML5 Responsive CSS
                    </li>
                    <li>
                        <strong>Idiomas:</strong> Catalán, Castellano y Inglés
                    </li>
                    <li>
                        <strong>Framework:</strong> Asp.Net 4.5.1, MVC5
                    </li>
                    <li>
                        <strong>Código:</strong> HTML5, CSS, C#, T-SQL
                    </li>
                    <li>
                        <strong>Hosting:</strong> Azure Websites
                    </li>
                    <li>
                        <strong>IDE:</strong> Visual Studio 2012
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://www.balonmanoalcobendas.org" target="_blank">
            <img class="img-responsive" src="/Images/alcobendas.jpg" alt="Balonmano Alcobendas">
        </a>
        <h3>
            <a href="http://www.balonmanoalcobendas.org" target="_blank">Balonmanoalcobendas.org</a>
        </h3>
        <p>
            Web del Club Balonmano Alcobendas.
            <a href="#dialogBm" onclick="OpenDialog(event,'#dialogBm')">Detalles técnicos</a>
        </p>
        <div id="dialogBm" style="max-width: 600px" title="www.balonmanoalcobendas.com" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-bm1">Módulos</a></li>
                    <li><a href="#tabs-bm2">Tecnologia</a></li>
                    <li><a href="#tabs-bm3">Infraestructura</a></li>
                </ul>
                <div id="tabs-bm1">
                    <ul>
                        <li>
                            <strong>Contenidos dinámicos:</strong> Blog de noticias, Blog de historia, Álbumes fotos, Categorias ,  Slides frontales, Sidebars y SEO
                        </li>
                        <li><strong>Club deportivo: </strong> Equipos, Entrenadores, Categorias equipos, Temporadas, Colaboradores, Sponsors y Promociones
                        <li>
                            <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>
                        <li><strong>Otros:</strong> Multimedia, Microsite Copa de la Reina, Club Empresas, Abonados, Club</li>

                    </ul>

                </div>
                <div id="tabs-bm2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 4.5, MVC4
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, Javascript (jquery, jquery UI, AJAX), C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Windows Server 2012, IIS 8
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2012
                        </li>
                    </ul>


                </div>
                <div id="tabs-bm3">
                    <ul>
                        <li>
                            <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Servicios), Modelos (DTO's), Cliente (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                        <li>
                            <strong>Log de errores:</strong> ELMAH
                        </li>
                        <li>
                            <strong>Log de eventos:</strong> NLog
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="http://i-estrategia.azurewebsites.net" target="_blank">
            <img class="img-responsive" src="/Images/i-estrategia.jpg" alt="i-Estrategia">
        </a>
        <h3>
            <a href="http://i-estrategia.azurewebsites.net" target="_blank">i-estrategia</a>
        </h3>
        <p>
            Web presentación de la empresa de comunicación i-Estrategia.
            <a href="#dialogIe" onclick="OpenDialog(event,'#dialogIe')">Detalles técnicos</a>
        </p>

        <div id="dialogIe" style="max-width: 600px" title="www.i-estrategia.com" class="dialog-bn">
            <div>
                <ul>
                    <li>
                        <strong>Web corporativa:</strong> HTML5
                    </li>
                    <li>
                        <strong>Idiomas:</strong> Castellano y Inglés
                    </li>
                    <li>
                        <strong>Framework:</strong> Asp.Net 3.0, 4.5, MVC2 y MVC3
                    </li>
                    <li>
                        <strong>Código:</strong> HTML5, CSS, C#
                    </li>
                    <li>
                        <strong>Hosting:</strong> Azure Websites
                    </li>
                    <li>
                        <strong>IDE:</strong> Visual Studio 2010 y 2012
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://santsilvestre.azurewebsites.net/" target="_blank">
            <img class="img-responsive" src="/Images/santsilvestre.jpg" alt="Sant Silvestre del Masnou">
        </a>
        <h3>
            <a href="http://santsilvestre.azurewebsites.net/" target="_blank">Santsilvestre El Masnou</a>
        </h3>
        <p>
            Web de la carrera San Silvestre del Masnou.
            <a href="#dialogSantsi" onclick="OpenDialog(event,'#dialogSantsi')">Detalles técnicos</a>
        </p>
        <div id="dialogSantsi" style="max-width: 600px" title="santsilvestre.buclenet.com" class="dialog-bn">
            <div>
                <ul>
                    <li>
                        <strong>Web corporativa:</strong> HTML5
                    </li>
                    <li>
                        <strong>Framework:</strong> Asp.Net 4.5, MVC3
                    </li>
                    <li>
                        <strong>Código:</strong> HTML5, CSS, C#
                    </li>
                    <li>
                        <strong>Hosting:</strong> Azure Websites
                    </li>
                    <li>
                        <strong>IDE:</strong> Visual Studio 2012
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://www.albertlaura.es" target="_blank">
            <img class="img-responsive" src="/Images/albertlaura.jpg" alt="Albert y Laura">
        </a>
        <h3>
            <a href="http://www.albertlaura.es" target="_blank">AlbertLaura.es</a>
        </h3>
        <p>
            Presentación e invitación online a una boda.
            <a href="#dialogLAndA" onclick="OpenDialog(event,'#dialogLAndA')">Detalles técnicos</a>
        </p>
        <div id="dialogLAndA" style="max-width: 600px" title="santsilvestre.buclenet.com" class="dialog-bn">
            <div>
                <ul>
                    <li>
                        <strong>Single Page Application:</strong> HTML5
                    </li>
                    <li>
                        <strong>Framework:</strong> Asp.Net 4.5, MVC3
                    </li>
                    <li>
                        <strong>Código:</strong> HTML5, CSS, C#
                    </li>
                    <li>
                        <strong>Hosting:</strong> Azure Websites
                    </li>
                    <li>
                        <strong>IDE:</strong> Visual Studio 2012
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="http://www.lookauto.es" target="_blank">
            <img class="img-responsive" src="/Images/lookauto.JPG" alt="Look Auto">
        </a>
        <h3>
            <a href="http://www.lookauto.es" target="_blank">LookAuto.es</a>
        </h3>
        <p>
            Portal de compra-venta de coches de ocasión, seminuevos y Km0.
            <a href="#dialogLook" onclick="OpenDialog(event,'#dialogLook')">Detalles técnicos</a>
        </p>
        <div id="dialogLook" style="max-width: 600px" title="www.lookauto.es" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-Look1">Módulos</a></li>
                    <li><a href="#tabs-Look2">Tecnología</a></li>
                    <li><a href="#tabs-Look3">Infraestructura</a></li>
                </ul>
                <div id="tabs-Look1">
                    <ul>
                        <li>
                            <strong>Vehiculos:</strong> Marcas, Modelos, Versiones, Motores, Combustibles, Carrocerías, Puertas, Marchas, Cilindrada, Cavallos, Cilindros, Plazas y Emisiones Co2
                        </li>
                        <li>
                            <strong>Anuncios:</strong> Buscar per cualquier concepto, Vender (Single Page Application), Imprimir, Denunciar, Avisar si baja el precio, Favoritos
                        </li>
                        <li>
                            <strong>Vendedores:</strong> Formulario de contacto, Mi zona, Favoritos, Valoraciones, Microsite, Marcas representadas
                        </li>
                        <li>
                            <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter
                        </li>
                        <li>
                            <strong>Otros:</strong> Zonas geográficas, Colores, Equipamientos, Tapicerías, Procedencias
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>

                    </ul>

                </div>
                <div id="tabs-Look2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 4.5.1, MVC5
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Azure Websites, Sql Azure, Image Storage Account
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2012
                        </li>
                    </ul>


                </div>
                <div id="tabs-Look3">
                    <ul>
                        <li>
                            <strong>Arquitectura de capas:</strong> Datos (EF), Negocio (Serveis), Modelos (DTO's), Cliente (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                        <li>
                            <strong>Log de errores:</strong> ELMAH
                        </li>
                        <li>
                            <strong>Log de eventos:</strong> NLog
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="https://www.educo.org"  target="_blank">
            <img class="img-responsive" src="/Images/educo.JPG" alt="Fundación Educo">
        </a>
        <h3>
            <a href="https://www.educo.org"  target="_blank">Educo.org</a>
        </h3>
        <p>
            ONG global de cooperación para el desarrollo que actúa a favor de la infancia y la defensa de sus derechos
            <a href="#dialogEduco" onclick="OpenDialog(event,'#dialogEduco')">Detalles técnicos</a>
         </p>

        <div id="dialogEduco" style="max-width: 600px" title="www.educo.org" class="dialog-bn">
            <div>
                <ul>
                    <li>
                        <strong>CMS:</strong> Kentico
                    </li>
                    <li>
                        <strong>Framework:</strong> Asp.Net 4.0, WebForms
                    </li>
                    <li>
                        <strong>Código:</strong> HTML5, CSS, C#
                    </li>
                    <li>
                        <strong>Hosting:</strong> Windows Server 2012, IIS 8
                    </li>
                    <li>
                        <strong>IDE:</strong> Visual Studio 2012
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://www.atmasnou.cat" target="_blank">
            <img class="img-responsive" src="/Images/atmasnou.JPG" alt="At Masnou">
        </a>
        <h3>
            <a href="http://www.atmasnou.cat" target="_blank">Atmasnou.cat</a>
        </h3>
        <p>
            Web presentación del Club Atlètic de Masnou con blog de noticias y álbumes de fotografías.
            <a href="#dialogAt" onclick="OpenDialog(event,'#dialogAt')">Detalles técnicos</a>

        </p>
        <div id="dialogAt" style="max-width: 600px" title="www.atmasnou.cat" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-At1">Módulos</a></li>
                    <li><a href="#tabs-At2">Tecnologia</a></li>
                    <li><a href="#tabs-At3">Infraestructura</a></li>
                </ul>
                <div id="tabs-At1">
                    <ul>
                        <li>
                            <strong>Contenidos dinámicos:</strong> Blog de noticias, Álbumes de fotos, Slides forntales y SEO
                        </li>
                        <li>
                            <strong>Club deportivo:</strong> Categorias de equipos
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de ususarios y permisos
                        </li>
                        <li><strong>Otros:</strong> El club, Hazte socio, Afición, Colaboradores</li>

                    </ul>

                </div>
                <div id="tabs-At2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 4.0, MVC4
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Multi-domini (Compartit)
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2012
                        </li>
                    </ul>


                </div>
                <div id="tabs-At3">
                    <ul>
                        <li>
                            <strong>Arquitectura de capas:</strong> Dades (EF), Negoci (Serveis), Models (DTO's), Client (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                        <li>
                            <strong>Log de errores:</strong> ELMAH
                        </li>
                        <li>
                            <strong>Log de sucesos:</strong> NLog
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="http://www.mercemm.com" target="_blank">
            <img class="img-responsive" src="/Images/merce.jpg" alt="Mercemm">
        </a>
        <h3>
            <a href="http://www.mercemm.com" target="_blank">Mercemm.com</a>
        </h3>
        <p>
            Las deliciosas recetas de cocina de Mercè.
            <a href="#dialogMmm" onclick="OpenDialog(event,'#dialogMmm')">Detalles técnicos</a>
        </p>
        <div id="dialogMmm" style="max-width: 600px" title="www.mercemm.com" class="dialog-bn">
            <div>
                <ul>
                    <li>
                        <strong>Web corporativa en WordPress:</strong> Diseño personalizado
                    </li>
                    <li>
                        <strong>Código:</strong> HTML, CSS, PHP
                    </li>
                    <li>
                        <strong>Hosting:</strong> Multi-dominio (Compartido)
                    </li>
                    <li>
                        <strong>IDE:</strong> WordPress
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://cfalella.buclenet.com" target="_blank">
            <img class="img-responsive" src="/Images/alella.jpg" alt="Cf. Alella">
        </a>
        <h3>
            <a href="http://cfalella.buclenet.com" target="_blank">Cf. Alella</a>
        </h3>
        <p>
            Web presentación con blog del Club de Fútbol Alella.
            <a href="#dialogAlella" onclick="OpenDialog(event,'#dialogAlella')">Detalles técnicos</a>
        </p>

        <div id="dialogAlella" style="max-width: 600px" title="cfalella.buclenet.com" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-Alella1">Módulos</a></li>
                    <li><a href="#tabs-Alella2">Tecnologia</a></li>
                    <li><a href="#tabs-Alella3">Infraestructura</a></li>
                </ul>
                <div id="tabs-Alella1">
                    <ul>
                        <li>
                            <strong>Contenidos dinámicos:</strong> Blog de noticias, Álbumes fotos , Slides frontales y SEO
                        </li>
                        <li>
                            <strong>Club deportivo:</strong> Categorias equipos
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>
                        <li><strong>Otros:</strong> El club, Socios, Colaboradores, Campus, Redes sociales</li>

                    </ul>

                </div>
                <div id="tabs-Alella2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 4.0, MVC3
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Multi-dominio (Compartido)
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2010
                        </li>
                    </ul>


                </div>
                <div id="tabs-Alella3">
                    <ul>
                        <li>
                            <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Servicios), Modelos (DTO's), Cliente (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                        <li>
                            <strong>Log de errores:</strong> ELMAH
                        </li>
                        <li>
                            <strong>Log de eventos:</strong> NLog
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://www.ritmodende.com" target="_blank">
            <img class="img-responsive" src="/Images/ritmodende.jpg" alt="Ritmo Dendè">
        </a>
        <h3>
            <a href="http://www.ritmodende.com" target="_blank">Ritmodende.com</a>
        </h3>
        <p>
            Web presentación con blog de los bailarines Ritmo Dendè.
            <a href="#dialogRd" onclick="OpenDialog(event,'#dialogRd')">Detalles técnicos</a>
        </p>

        <div id="dialogRd" style="max-width: 600px" title="www.ritmodende.com" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-Rd1">Módulos</a></li>
                    <li><a href="#tabs-Rd2">Tecnologia</a></li>
                    <li><a href="#tabs-Rd3">Infraestructura</a></li>
                </ul>
                <div id="tabs-Rd1">
                    <ul>
                        <li>
                            <strong>Contenidos dinámicos:</strong> Blog de noticias, Calendario, Vídeos
                        </li>
                        <li>
                            <strong>Música:</strong> Control para escuchar música en la web, Backoffice para subir y gestionar las canciones diponibles
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>
                        <li><strong>Otros:</strong>Estils, Clases y fiestas, Shows & Dj,  Contacto</li>

                    </ul>

                </div>
                <div id="tabs-Rd2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 2.0, Asp.Net 4.0, MVC2 y MVC4
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Multi-dominio (Compartido)
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2010 y 2012
                        </li>
                    </ul>


                </div>
                <div id="tabs-Rd3">
                    <ul>
                        <li>
                            <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Services), Modelos (DTO's), Cliente (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="http://www.sport-ticket.cat" target="_blank">
            <img class="img-responsive" src="/Images/sport.jpg" alt="Sport Ticket">
        </a>
        <h3>
            <a href="http://www.sport-ticket.cat" target="_blank">Sport-ticket.cat</a>
        </h3>
        <p>
            Web de compra colectiva enfocada al mundo del deporte.
            <a href="#dialogSt" onclick="OpenDialog(event,'#dialogSt')">Detalles técnicos</a>
        </p>

        <div id="dialogSt" style="max-width: 600px" title="www.sport-ticket.cat" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-St1">Módulos</a></li>
                    <li><a href="#tabs-St2">Tecnologia</a></li>
                    <li><a href="#tabs-St3">Infraestructura</a></li>
                </ul>
                <div id="tabs-St1">
                    <ul>
                        <li>
                            <strong>Contenidos dinámicos:</strong> Entradas, Artículos, Deportes, Agenda, Categorias, Sidebars, Imágenes, Multi-precio y SEO
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>
                        <li>
                            <strong>Negocios:</strong> Gestión de negocios, gestión de puntos de venta, back-office negocios, control de vales, impresión de informes
                        </li>
                        <li>
                            <strong>Ventas:</strong> Control integrado de las ventas, pasarela bancaria
                        </li>
                        <li>
                            <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter
                        </li>
                        <li>
                            <strong>Administración:</strong> Sistema de facturación integrado
                        </li>
                    </ul>

                </div>
                <div id="tabs-St2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 3.5 y 4.5, MVC3 y MVC4
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Windows Server 2012, IIS 8
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2010 y 2012
                        </li>
                    </ul>


                </div>
                <div id="tabs-St3">
                    <ul>
                        <li>
                            <strong>Arquitectura de capas:</strong> Datos (EF), Modelos(DTO's), Lógica de negocio (Servicios), Cliente (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                        <li>
                            <strong>Log de errores:</strong> ELMAH
                        </li>
                        <li>
                            <strong>Log de eventos:</strong> NLog
                        </li>
                        <li>
                            <strong>Informes:</strong> Reporting Services
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://www.quedatgirona.cat" target="_blank">
            <img class="img-responsive" src="/Images/quedatgirona.jpg" alt="Queda't Girona">
        </a>
        <h3>
            <a href="http://www.quedatgirona.cat" target="_blank">Quedatgirona.cat</a>
        </h3>
        <p>
            Web de compra colectiva enfocada en la provincia de Gerona.
            <a href="#dialogQg" onclick="OpenDialog(event,'#dialogQg')">Detalles técnicos</a>
        </p>
        <div id="dialogQg" style="max-width: 600px" title="www.quedatgirona.cat" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-Qg1">Módulos</a></li>
                    <li><a href="#tabs-Qg2">Tecnologia</a></li>
                    <li><a href="#tabs-Qg3">Infraestructura</a></li>
                </ul>
                <div id="tabs-Qg1">
                    <ul>
                        <li>
                            <strong>Contenidos dinámicos:</strong> Ofertas, Vales, Categorias, Sidebars, Imágenes, Poblaciones, Multi-precio y SEO
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>
                        <li>
                            <strong>Negocios:</strong> Gestión de negocios, back-office negocios, control de vales, impresión de informes
                        </li>
                        <li>
                            <strong>Ventas:</strong> Control integrado de las ventas, pasarela bancaria
                        </li>
                        <li>
                            <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter
                        </li>
                        <li>
                            <strong>Fidelidad:</strong> Sistema de puntos y sistema de descuentos promocionales
                        </li>
                        <li>
                            <strong>Administración:</strong> Sistema de facturación integrado
                        </li>
                    </ul>

                </div>
                <div id="tabs-Qg2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 4.5, MVC5
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Windows Server 2012, IIS 8
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2012
                        </li>
                    </ul>


                </div>
                <div id="tabs-Qg3">
                    <ul>
                        <li>
                            <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Services), Cliente (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Code First
                        </li>
                        <li>
                            <strong>Log de errores:</strong> ELMAH
                        </li>
                        <li>
                            <strong>Log de eventos:</strong> NLog
                        </li>
                        <li>
                            <strong>Informes:</strong> Reporting Services
                        </li>
                        <li>
                            <strong>IoC:</strong> Ninject
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4 portfolio-item">
        <a  href="http://www.arqjm23.com" target="_blank">
            <img class="img-responsive" src="/Images/arqjm23.jpg" alt="ARQJM">
        </a>
        <h3>
            <a  href="http://www.arqjm23.com" target="_blank">Arqjm23.com</a>
        </h3>
        <p>
            Web presentación del estudio de arquitectura ARQJM23.
            <a href="#dialogArq" onclick="OpenDialog(event,'#dialogArq')">Detalles técnicos</a>
        </p>

        <div id="dialogArq" style="max-width: 600px" title="www.arqjm23.com" class="dialog-bn">
            <div class="tab-bn">
                <ul>
                    <li><a href="#tabs-Arq1">Módulos</a></li>
                    <li><a href="#tabs-Arq2">Tecnologia</a></li>
                    <li><a href="#tabs-Arq3">Infraestructura</a></li>
                </ul>
                <div id="tabs-Arq1">
                    <ul>
                        <li>
                            <strong>Contenidos dinámicos:</strong> Proyectos y Categorias
                        </li>
                        <li>
                            <strong>Seguridad:</strong> Gestión de usuarios y permisos
                        </li>
                        <li><strong>Otros:</strong> Contacto</li>

                    </ul>

                </div>
                <div id="tabs-Arq2">
                    <ul>
                        <li>
                            <strong>Framework:</strong> Asp.Net 2.0, Asp.Net 4.5.1, MVC2 y MVC5
                        </li>
                        <li>
                            <strong>Base de datos:</strong> Sql Server
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, C#, T-SQL
                        </li>
                        <li>
                            <strong>Hosting:</strong> Azure Websites
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2010 y 2013
                        </li>
                    </ul>


                </div>
                <div id="tabs-Arq3">
                    <ul>
                        <li>
                            <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Services), Modelos (DTO's), Cliente (MVC)
                        </li>
                        <li>
                            <strong>ORM:</strong> Entity Framework Database First
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- /.row -->

<!--
albertcapdevila.net
smoothiesdecuchara.com
esbarcelonaplayers
zoovet-software.com
ip2000
plederiure
-->


@section scripts{
    <script type="text/javascript">

                function OpenDialog(event, iddialog) {
                    event.preventDefault();
                    $(iddialog).dialog("open");
                }

                $(function () {
                    $(".dialog-bn").dialog({
                        autoOpen: false,
                        modal: true,
                        width: 'auto',
                        //maxWidth:600,
                        show: {
                            effect: "fade",
                            duration: 300
                        },
                        hide: {
                            effect: "fade",
                            duration: 300
                        }
                    });

                    $(".tab-bn").tabs();

                });
    </script>
}




