@{
    ViewBag.Title = "Home Page";
}

     <!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Portfolio
            <small>Estos son algunos de los proyectos que hemos desarrollado</small>
        </h1>
    </div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">

        <a href="http://www.quedat.cat" target="_blank">
            <img class="img-responsive" src="/Images/quedat.jpg" alt="Queda't al Maresme" />
         </a>
        <h3>
            <a href="http://www.quedat.cat" target="_blank">Quedat.cat - Queda't al Maresme</a>
        </h3>
        <p>
            Web de compra colectiva enfocada a la comarca del Maresme.
        </p>
    </div>
    <div class="col-md-4 portfolio-item">
        
        <a href="http://hb2013frontend.buclenet.com" target="_blank">
            <img class="img-responsive" src="/Images/hb2013.jpg" alt="Handball Spain 2013">
        </a>
        <h3>
            <a href="http://hb2013frontend.buclenet.com" target="_blank">Balonmano 2013</a>
        </h3>
        <p>
            Web del Mundial de Balonmano celebrado en España durante enero de 2013.
        </p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://www.nedaelmon.com" target="_blank">
            <img class="img-responsive" src="/Images/nedaelmon.jpg" alt="Neda el Món">
        </a>
        <h3>
            <a href="http://www.nedaelmon.com" target="_blank">Nedaelmon.com</a>
        </h3>
        <p>
            Eventos no competitivos de natación en aguas abiertas.
        </p>
     </div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="http://www.a2disseny.com" target="_blank">
            <img class="img-responsive" src="/Images/a2disseny.jpg" alt="A2 Disseny" />
        </a>
        <h3>
            <a href="http://www.a2disseny.com" target="_blank">A2disseny.com</a>
        </h3>
        <p>
            Web portfolio de la empresa de diseño  gráfico A2 Disseny.
        </p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
</div>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
</div>
<!-- /.row -->