
    <header class="d-flex flex-wrap justify-content-center py-3 mb-2 @*border-bottom*@">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
            <span class="fs-4">Bahía Code</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
            <NavLink href="/" class="nav-link" aria-current="page" Match="NavLinkMatch.All">Inicio</NavLink>
            </li>
            <li class="nav-item">
            <NavLink href="ComoFunciona" class="nav-link">Cómo funciona</NavLink>
            </li>
            <li class="nav-item">
            <NavLink href="/Tecnologia"  class="nav-link">Tecnología</NavLink>
            </li>
            <li class="nav-item">
            <NavLink href="/CasosReales" class="nav-link">Casos reales</NavLink>
            </li>
            <li class="nav-item">
            <NavLink href="/SobreNosotros"  class="nav-link">Sobre nosotros</NavLink>
            </li>
            <li class="nav-item">
            <NavLink href="/Contacto" class="nav-link">Contacto</NavLink>
            </li>
        </ul>
    </header>
    

