<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Pero hay mucho más</h2>

    <ListaDeProyectos />

    <p class="fs-5 mb-4">
        Si tienes curiosidad por alguno de estos proyectos pregúntanos y te lo explicaremos encantados.
    </p>
    
    <div class="d-grid gap-2 d-sm-flex">
        <a class="btn btn-primary btn-lg px-4 gap-3"
           asp-page="/Contacto">
            Cuéntanos tu proyecto
        </a>
            
    </div>

</div>