@page "/comofunciona"

<PageTitle>Cómo funciona</PageTitle>

<EstoyConvencido />

<div class="b-example-divider"></div>

<FasesProyecto />

<div class="b-example-divider"></div>

<PlazosDeEntrega />

<div class="b-example-divider"></div>

<ValoracionEconomica />

<div class="b-example-divider"></div>

<Garantias />

            
