<div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">
        <h1 class="display-5 fw-bold">Garantías</h1>
        <p class="fs-5 mb-4">
            El código fuente será tuyo y tendrás acceso a él en cualquier momento.
        </p>
        <p class="fs-5 mb-4">
            Bahía Code ofrece una garantía de corrección de errores durante un plazo de 2 años.
        </p>
        <partial name="Botones/_Reunamonos"/>
    </div>
</div>