@page "/"
@page "/inicio"

<PageTitle>Bahía Code · Apps personalizadas</PageTitle>

<Bh.AppWeb.Components.Elementos.ProgramamosAppsPersonalizadas />

<div class="b-example-divider mb-0"></div>

<GanaTiempoReduceErrores />

<div class="b-example-divider"></div>

<DiAdiosGrid />

<div class="b-example-divider"></div>

<TodasLasEmpresasSonCandidatas />

<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Tres historias reales que hemos vivido con nuestros clientes</h2>

    <Casos />
</div>

<div class="b-example-divider"></div>

<DemoApp />
