@*Lista de proyectos*@
<ul>
    <li class="mb-2"> Diseño de una <b>base de datos</b> para aplicar la metodología de costes basados en actividades.</li>
    <li class="mb-2"> Mejora y desarrollo de funcionalidades en una aplicación web de control y mantenimiento de equipos <b>(GMAO)</b>.</li>
    <li class="mb-2">
        Desarrollo de <b>20 -30 plugins para el ERP SAGE Linea 100</b>.
        Migraciones, módulos de facturación, generación automatizada de asientos contables, facturas electrónicas, etc.
    </li>

    <li class="mb-2">Desarrollos de funcionalidades para una aplicación Windows de fabricación de lentes de contacto.</li>
    <li class="mb-2"><b> E-commerce desde cero</b> de venta de vales de descuento para servicios locales.</li>
    <li class="mb-2">Aplicación web de gestión para empresa organizadora de eventos deportivos en aguas abiertas.</li>
    <li class="mb-2"><b>Web del mundial de balonmano del 2013.</b></li>
    <li class="mb-2">Aplicación web para la <b>venta de coches de segunda mano</b>.</li>
    <li class="mb-2">Aplicación web de gestión de facturas.</li>
    <li class="mb-2"><b>Mentoría</b> y desarrollo de una aplicación web de gestión de cajas defectuosas.</li>
    <li class="mb-2">Aplicación <b>multiplataforma para la fabricación y trazabilidad</b> del café.</li>
    <li class="mb-2">Aplicación Windows de trazabilidad de cajas de envío en almacén.</li>
    <li class="mb-2">Aplicación para la <b>comprobación de fugas</b> de ejes y su trazabilidad.</li>
    <li class="mb-2">Aplicación web para la gestión interna de <b>fotografías</b> en una multinacional.</li>
    <li class="mb-2">Desarrollo de extensiones de el <b>CMS Kentico</b>.</li>
    <li class="mb-2">Aplicación para gestionar un <b>concurso público de asignación de radio frecuencias</b>.</li>
    <li class="mb-2">Desarrollos para un portal de cinturones y calzados para prisiones.</li>
    <li class="mb-2">Desarrollos para el portal de gestión de la <b>ganadería en Cataluña SIR</b>.</li>
    <li class="mb-2">Mentoría y desarrollos de una aplicación para la gestión de proyectos.</li>
    <li class="mb-2">Dirección y desarrollos de aplicación web <b>multi-idioma</b> para la gestión de expedientes escolares y actividades.</li>
    <li class="mb-2">Portal para el registro, gestión y asignación de becas.</li>
    <li class="mb-2">Mentoría en el desarrollo de un <b>web api de localización de ambulancias</b>.</li>
    <li class="mb-2">Aplicación web de gestión de <b>partes de trabajo</b>.</li>
    <li class="mb-2">Base de datos para libros.</li>
    <li class="mb-2">Mantenimiento y desarrollo de software de gestión de <b>clínicas de estética</b>.</li>
    <li class="mb-2">Integraciones entre CRM Synergy y <b>Active Campaign</b>.</li>
    <li class="mb-2">Módulo de <b>migración de Factura Plus</b> a aplicación de gestión de electricidad.</li>

</ul>
