<div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">
        
        <h1 class="display-5 fw-bold">Valoración económica</h1>

        <p class="fs-5 mb-4">
           Antes de empezar tendrás un presupuesto con el precio del proyecto y sus plazos de entrega.
            Sabemos que la propuesta económica es un punto importante y no nos gusta andarnos con rodeos.
        </p>
        <p class="fs-5 mb-4">
            Para el desembolso podemos ofrecer diferentes opciones pero por lo general trabajamos de la siguiente manera:
        </p>
        <p class="fs-5 mb-4">
            El presupuesto inicial está dividido por entregas. Cada una de ellas con un coste y un plazo que suele rondar un mes.
        </p>
        <p class="fs-5 mb-4">
            Cada entrega consta de unas funcionalidades completas que podrás validar. Sólo cuando aceptes la entrega 
            enviamos la factura e iniciamos el desarrollo de la siguiente fase.
        </p>
        <p class="fs-5 mb-4">
            De este modo, tienes el control en todo momento del avance del proyecto. 
            En cada entrega pueden cambiar funcionalidades del presupuesto inicial, 
            surgir nuevas necesidades o suprimir aquellas que ya no tengan sentido.
        </p>
        <p class="fs-5 mb-4">
            Nos iremos adaptando a los cambios reformulando el presupuesto según tus necesidades.
        </p>

      
    </div>
</div>