<div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">
        <h1 class="display-5 fw-bold">
            Una aplicación personalizada bien diseñada puede ayudarte a ahorrar mucho tiempo en tu trabajo.
        </h1>
        <p class="fs-5 mb-4">
            Y eso hacemos en Bahía Code. Creamos aplicaciones a medida poniendo el foco en el orden, la seguridad y el control.
            Dentro de las mismas puedes almacenar, de forma minuciosa, todos los datos que llevas acumulando en un Excel durante años. 
            Esto te ayudará a tener todo tu negocio bajo control y libre de errores.
        </p>
        
        <p class="fs-5 mb-4">
            Nuestro equipo se centra en adaptar la aplicación a cada uno de los clientes, 
            para que se ajuste al 100% a lo que necesita. Ni más, ni menos.
        </p>
    </div>
</div>