<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">
        Con una aplicación personalizada:
    </h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill" /></svg>
            <div>
                <h4 class="fw-bold mb-0">Di adiós a errores</h4>
                <p>
                    Juan G. / Juan José G. / García, Juan. Registra "Juan García" una sola vez y selecciónalo siempre que lo necesites. Si lo cambias se cambiará en todos los documentos.
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3"
                 width="1.75em" height="1.75em">
                <use xlink:href="#collection"/>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">Olvida las carpetas</h4>
                <p>
                    Todo estará en una base de datos. Contarás con un historial donde se encontrará todo registrado para encontrarlo de la forma más sencilla y rápida posible.
                </p>
            </div>
        </div>

        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#people-circle"/>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">No lo expliques 1000 veces al compañero</h4>
                <p>Si sabes leer, sabrás utilizar la aplicación. Es intuitiva y fácil de utilizar para todos.</p>


            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#geo-fill"/>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">
                    No vayas a la oficina para consultar cualquier dato
                </h4>
                <p>
                    Todo el contenido está en la nube, y tienes la versatilidad de poder verlo desde cualquier dispositivo y cuando quieras.
                </p>
            </div>
        </div>

    </div>
</div>