<div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">

        <h1 class="display-5 fw-bold">Fases del proyecto </h1>
        
        <p class="fs-5 mb-4">
            Lo primero que debes hacer es enviarnos un e-mail junto con tus documentos,
            y explicarnos brevemente en qué consiste tu negocio y tus necesidades.
        </p>
        <p class="fs-5 mb-4">
            Una vez que tengamos toda la información necesaria, realizaremos un análisis previo para poder valorar 
            si es posible desarrollar una aplicación personalizada. Y a continuación, agendaremos una videoconferencia para
            conocernos de tú a tú; ya que para nosotros el trato personal es primordial.
            
        </p>
        <p class="fs-5 mb-4">
            Así durante la reunión podremos charlar sobre qué es lo que tienes y
            qué es aquello que esperas. Esto es de gran ayuda para seguir moldeando tu proyecto.
        </p>

        <p class="fs-5 mb-4">
            El siguiente paso, es desarrollar un documento con las funcionalidades que puede tener la aplicación; 
            para poder enviártelo y que lo valores con tu equipo.
        </p>

        <p class="fs-5 mb-4">
            Una vez aceptado el presupuesto, comenzamos a trabajar sobre todo lo hablado
            anteriormente. En caso contrario, quedaremos como amigos y será un placer habernos
            conocido.
        </p>

        <p class="fs-5 mb-4">
            Pero ya te adelantamos que en Bahía Code, no nos rendimos tan fácilmente. 
            Queremos ofrecerte el máximo, darte las mejores ventajas y allanarte el camino hacia el orden y la seguridad. 
            ¡Podemos seguir un gran equipo!
        </p>      
        
    </div>
</div>