
<div class="px-4 py-5 my-5 text-center">
    <h1 class="col-lg-8 display-5 fw-bold mx-auto">¿A qué te refieres con una aplicación de gestión personalizada?</h1>
    <div class="col-lg-6 mx-auto">

        <p class="fs-5 mb-4">
            Has creado un Excel con el que gestionas una parte de tu trabajo. Es único y
            lo has personalizado a tu gusto. Puede ser:<br/>
            &nbsp;<br/>
            <partial name="Iconos/_caret"/> informes repetitivos que creas en Excel/Word,<br />
            <partial name="Iconos/_caret" /> seguimiento de pedidos,<br />
            <partial name="Iconos/_caret" /> planes de mantenimiento de equipos,<br />
            <partial name="Iconos/_caret" /> un registro de visitas a clientes,<br />
            <partial name="Iconos/_caret" /> un registro de proyectos con información única de tu negocio<br />
            <partial name="Iconos/_caret"/> una librería de imágenes con metadatos,<br />
            <partial name="Iconos/_caret" /> gestionar inventarios,<br />
            <partial name="Iconos/_caret" /> <b>lo que se te ocurra</b>.
        </p>
        
        

        <p class="fs-5 mb-4">
            Sin embargo, esta manera de trabajar tiene algunas limitaciones y
            tener los datos al día consume más tiempo de lo deseado.
        </p>
        <p class="fs-5 mb-4">
            Realizar cambios en él puede significar búsquedas y modificaciones en múltiples lugares diferentes.
            Hay que andar con mucho ojo para no dejar ninguno cabo suelto.
        </p>
        <p class="fs-5 mb-4">
            Consultar o comparar periodos anteriores de tus datos mediante informes ni te lo planteas.
        </p>

        <p class="fs-5 mb-4">
            Nosotros podemos convertir tu Excel en una aplicación con una <b>base de datos estructurada</b>.
        </p>
        <p class="fs-5 mb-4">
            Podrás consultar información fácilmente, sacar informes comparativos y <b>escribir los datos una sola vez</b>.
            Todo de forma completamente segura y ordenada. Sin errores, ni sorpresas.
        </p>
        @*<p>Gana tiempo y reduce errores</p>*@
        @*  <p class="fs-5 mb-4">
        Bahía Code viene a darte la confianza que debes tener en la tecnología.
        </p>

        <p class="fs-5 mb-4">
            Ventajas que podrías obtener:
        </p>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-4 py-4">
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3"
                     width="1.75em" height="1.75em">
                    <use xlink:href="#collection" />
                </svg>
                <div>
                    <p>
                        Un correcto seguimiento de las acciones realizadas en tu negocio
                    </p>

                </div>
            </div>

            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#grid" /> 
                </svg>
                <div>
                    <p>
                        Informes de todo lo que necesites
                    <p>



                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#people-circle" />
                </svg>
                <div>
                    <p>
                        Fichas claras y completas de productos, clientes, personas, lo que se te ocurra
                    </p>

                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#speedometer2" /> 
                </svg>
                <div>
                    <p>
                        Tener la visualización de todo tu negocio en una misma pantalla, con filtros para facilitarte las búsquedas
                    </p>
                </div>
            </div>
          
        </div>

        <p class="fs-5 mb-4">
            Pero esto no es todo. En Bahía Code nos focalizamos en dar un servicio completo a cada uno de nuestros clientes;
            ofreciéndoles una programación adaptada a cada una de sus necesidades.
        </p>
        <p class="fs-5 mb-4">
            Nuestra empresa se moldea para darte un servicio de programación a medida.
        </p>*@
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <partial name="Botones/_ReunamonosSaberMas" />
        </div>
    </div>
</div>