<div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">
        
        <h1 class="display-5 fw-bold">Plazos de entrega</h1>
        <p class="fs-5 mb-4">
            Los plazos de entrega, suelen ser orientativos en función de la disponibilidad de cada cliente.
            Nuestro equipo se encuentra dispuesto al 100%, para adaptarse a vuestros horarios y condiciones.
        </p>
        <p class="fs-5 mb-4">
            Por norma general, la primera entrega se produce al mes de la aceptación del documento funcional.
        </p>
        <p class="fs-5 mb-4">
            A continuación realizamos entregas mensuales. Aportando funcionalidades completas en cada una 
            de ellas hasta la finalización del proyecto.
        </p>
    </div>
</div>