<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">
            Programamos aplicaciones <br />personalizadas para tu negocio
        </h1>

        <div class="col-lg-6 mx-auto">
            <h4 class="fw-bold fs-5 mb-4 text-white">
                Convertimos documentos compartidos, Excel's, Word's, PDF's, Informes etc. en una aplicación,
                limpia, ordenada y en un solo lugar.

                @* Te ayudamos a ahorrar tiempo para que te centres en lo importante.
                creando aplicaciones personalizadas para tu negocio.*@
            </h4>

            <p class="fs-5 mb-4 text-white">
                Nosotros nos encargamos de todo. Ahorra tiempo para centrarte en lo importante.

                @*, tú piensa que vas a hacer con el tiempo que vas a ganar.*@

            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <partial name="Botones/_ReunamonosSaberMas" />
            </div>
        </div>
    </div>
</div>