<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="col-lg-8 display-5 fw-bold text-white mx-auto">
            Programamos aplicaciones de gestión personalizadas para tu negocio
        </h1>

        <div class="col-lg-6 mx-auto">
            <h4 class="fw-bold fs-5 mb-4 text-white">
                Detectamos tareas mecánicas y las reducimos de horas a segundos.

                
            </h4>

            <p class="fs-5 mb-4 text-white">

                Convertimos documentos compartidos, Excel's, Word's, PDF's, Informes etc. en una aplicación,
                limpia, ordenada y en un solo lugar.
                
            </p>
            
            <p class="fs-5 mb-4 text-white">
                Nosotros nos encargamos de todo. Ahorra tiempo para centrarte en lo importante.

                

            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <partial name="Botones/_ReunamonosSaberMas" />
            </div>
        </div>
    </div>
</div>