<div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">
        <h1 class="display-5 fw-bold">
            Detectamos tareas mecánicas y las reducimos de horas a segundos
        </h1>
        
        <p class="fs-5 mb-4">
            En todas las empresas existe un Excel en el que alguien anota,
            registra o realiza cálculos para gestionar una parte de su trabajo.
            Quien dice Excel, dice Word, Access, PDF's o documentos compartidos.
        </p>
        
        <p class="fs-5 mb-4">
            A cambio, obtiene información valiosa y particular. Al principio se maneja bien, 
            pero con el tiempo se vuelve pesado. De hecho, cuanto más útil sea la información
            más tiende a crecer la complejidad del documento. 
        </p>
        
        <p class="fs-5 mb-4">
            Puede ser que empieces añadiendo múltiples pestañas, o que se te acumulen
            tantos archivos Excel que empieces a clasificarlos en carpetas y sub-carpetas,
            por ejemplo, separándolos por años.
        </p>

        <p class="fs-5 mb-4">
            Duplicidades, introducción manual, procesos repetitivos, lo que sea.
        </p>

        <p class="fs-5 mb-4">
            Al final te encuentras con múltiples documentos muy personalizados que debes
            ir manipulando periódicamente y que te van quitando horas. Y tienes la sensación que
            todo eso se podría automatizar.
        </p>
        
        <p class="fs-5 mb-4">
            Ahí es donde podemos ayudarte.
        </p>
       
        <h1 class="display-5 fw-bold">
            Detectámos este tipo de documentos y te proponemos una solución para reducir su tiempo de uso.
        </h1>

        <p class="fs-5 mb-4">
            Te propondremos programar una aplicación estructurada, ordenada y segura
            donde no tengas que introducir datos repetitivamente sino realizar acciones con sentido.
        </p>
        
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <partial name="Botones/_ReunamonosSaberMas" />
        </div>

    </div>
</div>