<h1 class="display-5 fw-bold">Ejemplo</h1>
<div class="col-lg-6 mx-auto">

    <p class="fs-5 mb-4">
        ------
    </p>
        
    <p class="fs-5 mb-4">
        -----
    </p>
        

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Ir a la aplicación de ejemplo</button>
            
    </div>
</div>

