@page
@{
    ViewData["Title"] = "Apps personalizadas";
}

<div class="px-4 py-5 my-5 text-center">

<div class="col-lg-6 mx-auto">
   <h1 class="display-5 fw-bold">
        Una aplicación personalizada bien diseñada puede ayudarte a ahorrar mucho tiempo en tu trabajo.
    </h1>
    <p class="fs-5 mb-4">
        Y eso hacemos en Bahía Code. Creamos aplicaciones a medida donde reina el orden, la seguridad y el control.
        Dentro de las mismas puedes almacenar, de forma minuciosa, todos los datos que llevas almacenando en un excel durante años. 
        Esto te ayudará a tener todo tu negocio bajo control y libre de errores.
    </p>
        
    <p class="fs-5 mb-4">
        Nuestro equipo se centra en adaptar la aplicación a cada uno de los clientes, 
        para que se ajuste al 100% a la medida que necesita. 
        Ya que el objetivo de Bahía Code, es dar una programación a medida.
    </p>
</div>
</div>
    <div class="b-example-divider"></div>
<div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">
    <h1 class="display-5 fw-bold">
        Todas las empresas son candidatas a tener aplicaciones personalizadas
    </h1>
    
    <p class="fs-5 mb-4">
        En todas las empresas existe un Excel en el que alguien anota, 
        registra o realiza cálculos para gestionar una parte de su trabajo.
            Quien dice Ecel, dice Word, PDF's o documentos compartidos
    </p>
    
    <p class="fs-5 mb-4">
        Al principio se maneja bien, pero con el tiempo se vuelve pesado.
    </p>
    
    
    <p class="fs-5 mb-4">
        Puede ser que empieces añadiendo múltiples pestañas, o que se te acumulen 
        tantos archivos Excel que empieces a clasificarlos en carpetas y sub-carpetas,
        por ejemplo, separándolos por años.
    </p>

        <p class="fs-5 mb-4">
          Duplicidades, introducción manual, procesos repetitivos, lo que sea.
        </p>
        
    <p class="fs-5 mb-4">
        Al final te encuentras con múltiples documentos muy personalizados que debes
        ir manipulando periódicamente y que te van quitando horas. Y tienes la sensación que 
        todo eso se podría automatizar.
    </p>
    <p class="fs-5 mb-4">
        Ahí es donde puedo ayudarte.
    </p>
    
    <p class="fs-5 mb-4">
        Déjanos analizar esos documentos y proponerte una aplicación estructurada, ordenada y segura 
        donde no tengas que introducir datos repetitivamente sino realizar acciones con sentido.
    </p>

</div>
</div>
<div class="b-example-divider"></div>
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">
            Con una aplicación personalizada di adiós a
        </h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3"
                     width="1.75em" height="1.75em">
                    <use xlink:href="#collection" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Almacenar miles de carpetas</h4>
                    <p>
                        A partir de ahora contarás con un historial donde se encontrará todo registrado por fechas o productos/servicios; para encontrarlo de la forma más sencilla y rápida posible.
                    </p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill" /></svg>
                <div>
                    <h4 class="fw-bold mb-0">Posibles errores</h4>
                    <p>
                        Puede que haya algún mal entendido y por error se borre un informe con mucho trabajo guardado. Bahía Code no entiende de errores, es todo soluciones.
                    </p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#people-circle" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">El tener que explicárselo 1000 veces al compañero</h4>
                    <p>Esta app es muy intuitiva y fácil de utilizar para todos.</p>


                </div>
            </div>
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#geo-fill" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">
                        Tener que ir a la oficina para consultar cualquier dato
                    </h4>
                    <p>
                        Con la app se almacena todo el contenido en la nube, y tienes la versatilidad de poder verlo desde cualquier dispositivo y cuando quieras.
                    </p>
                </div>
            </div>
       
        </div>
    </div>
<div class="b-example-divider"></div>
<div class="px-4 py-5 my-5 text-center">

    <div class="col-lg-6 mx-auto">

    <h1 class="display-5 fw-bold">Fases del proyecto </h1>

        <p class="fs-5 mb-4">
            En Bahía Code buscamos dar un servicio completo, personalizado al 100% y seguro.
        </p>
        <p class="fs-5 mb-4">
            Para la creación del proyecto, lo primero que debes hacer es enviarnos un e-mail junto con tu Excel,
            y explicarnos brevemente en qué consiste tu negocio y a que pertenece esa base de datos.
        </p>
        <p class="fs-5 mb-4">
            Una vez que tengamos toda la información necesaria,
            realizaremos un análisis previo para poder valorar si es posible generar
            una aplicación única. Y a continuación, agendaremos una videoconferencia para
            conocernos de tú a tú; ya que para nosotros el trato personal es primordial.
            Así durante la reunión podremos charlar sobre qué es lo que tienes y
            qué es aquello que esperas. Esto es de gran ayuda para seguir moldeando tu proyecto.
        </p>

        <p class="fs-5 mb-4">
            El siguiente paso, es que nuestros profesionales desarrollen un documento
            con las funcionalidades que puede tener la aplicación; para poder enviártelo
            y que lo valores con tu equipo.
        </p>

        <p class="fs-5 mb-4">
            Una vez aceptado el presupuesto, comenzamos a trabajar sobre todo lo hablado
            anteriormente. En caso contrario, quedaremos como amigos y será un placer habernos
            conocido.
        </p>

        <p class="fs-5 mb-4">
            Pero ya te adelantamos que en Bahía Code, no nos rendimos tan fácilmente. Queremos ofrecerte el máximo, darte las mejores ventajas y allanarte el camino hacia el orden y la seguridad. ¡Podemos seguir un gran equipo!
        </p>


        <h1 class="display-5 fw-bold">Plazos de entrega</h1>
        <p class="fs-5 mb-4">
            Los plazos de entrega, suelen ser orientativos en función de la disponibilidad de cada cliente.
            Nuestro equipo se encuentra dispuesto al 100%, para adaptarse a vuestros horarios y condiciones.
        </p>

        <p class="fs-5 mb-4">
            Por norma general, la primera entrega se produce al mes de la aceptación del documento funcional.
            Y por consiguiente, la entrega completa del proyecto se realiza a los tres meses.
        </p>

        <h1 class="display-5 fw-bold">Valoración económica</h1>

        <p class="fs-5 mb-4">
            En Bahía Code ofrecemos la información de los costes clara desde un primer momento. Sabemos que la propuesta económica es un punto importante y no nos gusta andarnos con rodeos.
            La evaluación inicial del coste de desarrollo, oscila entre los 8.000€ y los 10.000€.
            En el caso de que se tratará de una aplicación más costosa, este modelo tal cual no serviría, pero nuestro equipo no para de innovar y superarse para buscar otra fórmula más adecuada como alternativa.
            Una opción de desembolso es:
            - Realizar los pagos en cuotas mensuales de 350,00€; durante dos años aproximadamente.
            Una vez cubierto el coste de desarrollo al 100% de la aplicación, te facilitamos una copia del código fuente, y ya puede ser tuya. Y a partir de ese momento, puedes escoger entre las siguientes opciones:
            1. Que Bahía Code se encargue de instalar el software en tus servidores y finalizar de pagar las cuotas, comenzando a ser tú mismo el responsable del mantenimiento del propio software. Aunque, abonando el coste de la migración que supondría 350,00€

            2. Contratar el servicio Cloud, que ofrece mantenimiento de la aplicación, mantenimiento del servidor y las correspondientes copias de seguridad.
            ● Hasta 2 usuarios: 75,00€/mes
            ● Hasta 5 usuarios: 175,00€/mes
            ● Hasta 10 usuarios: 275,00€/mes

            *En el caso de los evolutivos e integraciones se valoran aparte:
            - El coste de la hora de desarrollo es de 55,00€
            -El coste de consultoría y formación a otros desarrolladores de 65,00€/ hora
        </p>

        <h1 class="display-5 fw-bold">Garantías</h1>

        <p class="fs-5 mb-4">
            Bahía Code ofrece una garantía de corrección de errores de un plazo máximo de 2 años, o lo que dure la fase de pago de cuotas.
        </p>
        <p>
            Una vez finalizada la fase de cuotas, si continúas con la opción del mantenimiento, se te renovará automáticamente la corrección de errores.

        </p>






        <a asp-page="/Contacto" class="btn btn-primary btn-lg">
            Reunámonos
        </a>
    </div>
</div>






            
            
