@page
@{
    ViewData["Title"] = "Casos reales";

}
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Historias reales que hemos vivido</h2>
    <p class="fs-5 mb-4">
        Estos son algunos de los casos reales explicados por nuestros clientes.
    </p>
    <partial name="_Casos"/>
</div>

<div class="b-example-divider mb-0"></div>
<partial name="Shared/_BloquePeroHayMuchoMas"/>