@page
@{
    ViewData["Title"] = "Cómo funciona";
}

<partial name="Elementos/_EstoyConvencido"/>

<div class="b-example-divider"></div>

<partial name="Elementos/_FasesProyecto" />

<div class="b-example-divider"></div>

<partial name="Elementos/_PlazosDeEntrega" />

<div class="b-example-divider"></div>

<partial name="Elementos/_ValoracionEconomica" />

<div class="b-example-divider"></div>

<partial name="Elementos/_Garantias" />

            
