@page
@{
    ViewData["Title"] = "Contacto";
    var email = "hola@bahiacode.com";
}

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">
            Contacto · @email
        </h1>

        <div class="col-lg-6 mx-auto">
            <h4 class="fw-bold fs-5 mb-4 text-white">
                ¿Tienes alguna idea novedosa en mente para una aplicación?
            </h4>

            <p class="fs-5 mb-4 text-white">
                Cuéntanos, estamos encantados de poder escucharte y atenderte.
            </p>
        </div>
    </div>
</div>
<div class="b-example-divider mb-0"></div>



<div class="px-4 py-5 my-5 text-center">
    <h4 class="display-5 fw-bold">Cada caso es un mundo con infinitas posibilidades</h4>
    <div class="col-lg-6 mx-auto">

       

        <p class="fs-5 mb-4">
            Cualquier documento Excel, Word o PDF, lo que sea que estés utilizando,
            si nos lo puedes enviar para facilitar el análisis, mejor que mejor.
            No es necesario que los datos sean reales, solo lo usaremos para valorar la estructura.
        </p>
        <p class="fs-5 mb-4">
            Ponte en contacto con nosotros enviando un e-mail a @email y analizaremos tu caso con todos los pros y contras.
        </p>

        <p class="fs-5 mb-4">
            Háblanos, te responderemos a la mayor velocidad posible.
        </p>
        <p>
            Albert Capdevila · @email
        </p>
    </div>
</div>
<div class="b-example-divider mb-0"></div>

<div class="px-4 py-5 my-5 text-center">
    <h4 class="display-5 fw-bold">Investigación previa</h4>
    <div class="col-lg-6 mx-auto">

        @*<p class="fs-5 mb-4">
            En Bahía Code desarrollamos aplicaciones de gestión, de forma completamente personalizada y adaptada
            a tus necesidades. 
        </p>*@

        <p class="fs-5 mb-4">
            Antes de ponernos manos a la obra, debemos investigar 
            si existe una aplicación como la que quires en el mercado. 
            ¡No vale la pena reinventar la rueda!
        </p>
        <p class="fs-5 mb-4">
            En el caso de que no haya nada parecido… ¡Estás en el lugar adecuado!<br/>
            Seremos tu guía para ayudarte en este nuevo proyecto.
        </p>
    </div>
    <h4 class="display-5 fw-bold">Si ya existe un software similar</h4>
    <div class="col-lg-6 mx-auto">

        <p class="fs-5 mb-4">
            Y en el caso de que ya exista una aplicación en el mercado, tenemos tres salidas:
        </p>
        <div class="d-flex">
            <ul class="list-inline mx-auto justify-content-center">
                <li class="list-inline-item fs-5 mb-4">
                   1. Se adapta a tus necesidades y presupuesto. Tema resuelto :)
                </li>

                <li class="list-inline-item fs-5 mb-4">
                   2. No es como la mentalizabas. No te preocupes, si lo que necesitas es algo parecido, 
                    concretamos una reunión y valoraremos cómo hacerlo.
                </li>

                <li class="list-inline-item fs-5 mb-4">
                   3. Es muy cara y complicada. Tendríamos que contratar un consultor que venga a enseñarnos 
                    cómo configurarla y además tendríamos que hacer un esfuerzo para adaptarnos a ella. 
                    Preferimos algo más simple a la par que eficaz. 
                </li>
            </ul>
        </div>
        <p>
            Albert Capdevila · @email
        </p>
    </div>
</div>

