@page
@{
    ViewData["Title"] = "Demo App";
}

@*<div class="b-example-divider mb-0"></div>*@
<div class="px-4 py-5 my-5 text-center">
    
<h1 class="display-5 fw-bold">Demo de una app personalizada</h1>
<div class="col-lg-6 mx-auto">

    <p class="fs-5 mb-4">
        Nada mejor que un ejemplo de una aplicación realizada por nosotros para que sepas 
        de que estamos hablando.
    </p>

    <h2 class="display-5 fw-bold">Características</h2>
    <p class="fs-5 mb-4">
        La aplicación trata sobre CRM de venta repetitiva. Los comerciales visitan al cliente y registran
        la acción realizada en el cliente.
    </p>
    <p class="fs-5 mb-4">  
        Pueden programarse acciones futuras si lo desean.
    </p>
    <p class="fs-5 mb-4">
        Un supervisor o director comercial puede realizar anotaciones y comentarios a los 
        comerciales para ayudar y dirigir sus tareas.
    </p>
    <p class="fs-5 mb-4">
        Cada cliente tiene su ficha y sus contactos asociados.
    </p>
    <p class="fs-5 mb-4">
        La ficha del cliente contiene un informe resumen que se genera automáticamente
        para tener una visión rápida de las acciones del cliente.
        Además en la ficha puedes ver el histórico de acciones que se han realizado sobre el cliente.
    </p>
    <p class="fs-5 mb-4">
        La página inicial es un Dashboard para tener una visión global de un vistazo: 
        las últimas acciones, las acciones futuras, los últimos clientes creados y 
        los últimos tags creados.
        Recuerda que estamos en un contexto personalizado. Se puede cambiar a gusto.
    </p>
        <h1 class="display-5 fw-bold">Clave de acceso</h1>
    <p class="fs-5 mb-4">
        La app está protegida con un usuario y contraseña. 
        Utiliza estos para entrar y trastea lo que desees. 
    </p>
    <p>
            <b> Usuario:</b> test@crm.com <br />
            <b>Contraseña:</b> test crm
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://bahiacrm.azurewebsites.net/"
           class="btn btn-primary btn-lg px-4 gap-3"
            target="_blank">
            Ir a la aplicación de ejemplo
        </a>
            
    </div>
</div>


</div>
