@page
<partial name="Elementos/_ProgramamosAppsPersonalizadas"/>

<div class="b-example-divider mb-0"></div>

@*<partial name="Elementos/_AppBienDiseñada" />

<div class="b-example-divider"></div>*@

<partial name="Elementos/_GanaTiempoReduceErrores" />

<div class="b-example-divider"></div>

<partial name="Elementos/_DiAdiosGrid" />

<div class="b-example-divider"></div>

<partial name="Elementos/_TodasLasEmpresasSonCandidatas" />

<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Tres historias reales que hemos vivido con nuestros clientes</h2>
    
    <partial name="_Casos"/>
</div>

<div class="b-example-divider"></div>

<partial name="Elementos/_DemoApp" />

