@page
@{
    ViewData["Title"] = "Nosotros";
}

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">
            Somos programadores
        </h1>

        <div class="col-lg-6 mx-auto">
            <h4 class="fw-bold fs-5 mb-4 text-white">
                Hola, me llamo Albert y dirijo este maravilloso barco.
            </h4>

            <p class="fs-5 mb-4 text-white">
                Ma ayudan dos programadores más, en total somos tres. Por ahora :)
            </p>
        </div>
    </div>
</div>
<div class="b-example-divider mb-0"></div>

<div class="px-4 py-5 my-5 text-center">
    <h4 class="display-5 fw-bold">Sin intermediarios</h4>
    <div class="col-lg-6 mx-auto">

        <p class="fs-5 mb-4">
            Eliminamos los costes comerciales,los project managers, 
            la asignación de tareas de forma innecesaria, la generación de documentación indebida, etc. 
        </p>

        <p class="fs-5 mb-4">
            Nuestro objetivo es que la comunicación sea directa con el programador. 
            Con la persona que va a trabajar para ti. 
            Que sea algo claro, conciso y sencillo; sin terceros de por medio.
        </p>
        <p class="fs-5 mb-4">
            Con este principio conseguimos reducir drásticamente los costes.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <partial name="_ReunamonosSaberMas"/>
        </div>
       
    </div>
</div>
<div class="b-example-divider mb-0"></div>
<div class="px-4 py-5 my-5 text-center">
    <h4 class="display-5 fw-bold">La programación a medida es un artículo de lujo</h4>
    <div class="col-lg-6 mx-auto">

        <p class="fs-5 mb-4">
            Solo al alcance de las grandes empresas. Hasta ahora.
        </p>

        <p class="fs-5 mb-4">
            Con este proyecto, Bahía Code pretende igualar fuerzas. 
            Es decir, poner a disposición de las pequeñas empresas y autónomos, 
            software único y adaptado a sus necesidades con un precio y métodos de pago 
            asequibles a todos los bolsillos.
        </p>
        <p class="fs-5 mb-4">
            Buscamos facilitar la vida de nuestro cliente, darle algo sencillo, fácil de utilizar, 
            intuitivo y que sea exactamente aquello que necesita, ¡ni más, ni menos!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <partial name="_ReunamonosSaberMas"/>
        </div>
    </div>
</div>
<div class="b-example-divider mb-0"></div>
<div class="px-4 py-5 my-5 text-center">
    <h4 class="display-5 fw-bold">Nos adaptamos a ti y no al revés</h4>
    <div class="col-lg-6 mx-auto">

        <p class="fs-5 mb-4">
            Los productos de software estándar, requieren muchos recursos y un amplio equipo de programación.
            Además, el resultado es una aplicación que a medida que se adapta a otros clientes necesita 
            ser más flexible. Por ello, acaba teniendo funcionalidades que no necesitan y 
            numerosos campos incomprensibles dentro del ámbito del negocio.
        </p>

        <p class="fs-5 mb-4">
            Al final necesitas un consultor para configurar una aplicación que teóricamente era 
            para usuarios finales. Pero como el software se debe adaptar a diferentes necesidades se 
            acaba complicando.
        </p>
        <p class="fs-5 mb-4">
            A día de hoy, las empresas invierten en comprar un software estándar a un alto coste, 
            contratando a consultores para configurar el software. Pero lo peor, es que les dicen 
            que es la empresa quién se tiene que adaptar al software y no al revés. 
            Conclusión: da problemas e inconvenientes y ninguna ventaja a los empleados. 
            Además de ralentizar el trabajo, lo que conlleva a la pérdida de ingresos en la entidad.            
        </p>
        
        <p class="fs-5 mb-4">
            Pero esto va a cambiar. Desde Bahía Code, lo que proponemos es un software que se adapte 
            a las necesidades de cada empresa y no al revés. Será único y probablemente no se podrá escalar 
            a otros clientes. 
            Porque, por ejemplo, no necesita el mismo CRM un frutero, 
            que un vendedor de muebles o que un joyero. 
            Cada uno tiene unas necesidades y características diferentes.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <partial name="_ReunamonosSaberMas"/>
        </div>
       
    </div>
</div>
<div class="b-example-divider mb-0"></div>